{% extends 'apps/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    Product list page
{% endblock %}

{% block main_content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row justify-content-between align-items-center">
                <div class="col-sm-auto mb-2 mb-sm-0">
                    <h6 class="mb-0">Showing 1-24 of 205 Products</h6>
                </div>
                <div class="col-sm-auto">
                    <form class="d-inline-block mr-3">
                        <div class="input-group input-group-sm d-flex align-items-center"><small class="mr-1">Sort
                            by: </small>
                            <select class="custom-select" aria-label="Bulk actions">
                                <option selected="">Best Match</option>
                                <option value="Refund">Newest</option>
                                <option value="Delete">Price</option>
                            </select>
                        </div>
                    </form>
                    <a class="text-600" href="../e-commerce/product-grid.html" data-toggle="tooltip"
                       data-placement="top" title="Product Grid"><span class="fas fa-th"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body p-0 overflow-hidden">
            <div class="row no-gutters">
                {% for product in products %}
                    <div class="col-12 p-3">
                        <div class="p-1">
                            <div class="row">
                                <div class="col-sm-5 col-md-4">
                                    <div class="position-relative h-sm-100">
                                        <a class="d-block h-100"
                                           href="{% url 'product_detail_page' product.slug %}">
                                            <img class="img-fluid fit-cover w-sm-100 h-sm-100 rounded absolute-sm-centered"
                                                 src="{{ product.images.first.image.url }}" alt=""/>
                                        </a>
                                        {% if product.is_new %}
                                            <div class="badge badge-pill badge-success position-absolute t-0 r-0 mr-2 mt-2 fs--2 z-index-2">
                                                New
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-7 col-md-8">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <h5 class="mt-3 mt-sm-0">
                                                <a class="text-dark fs-0 fs-lg-1"
                                                   href="{% url 'product_detail_page' product.slug %}">
                                                    {{ product.name }}
                                                </a>
                                            </h5>
                                            <p class="fs--1 mb-2 mb-md-3">
                                                <a class="text-500" href="#!">
                                                    {{ product.category.name }}
                                                </a>
                                            </p>
                                            <ul class="list-unstyled d-none d-lg-block">
                                                {% for value in product.specifications.values %}
                                                    <li>
                                                                <span class="fas fa-circle"
                                                                      data-fa-transform="shrink-12">
                                                                </span>
                                                        <span>{{ value }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 d-flex justify-content-between flex-column">
                                            <div>
                                                <h4 class="fs-1 fs-md-2 text-warning mb-0">{{ product.discount_price|intspace }}
                                                    UZS</h4>
                                                <h5 class="fs--1 text-500 mb-0 mt-1">
                                                    <del>{{ product.price|intspace }} UZS</del>
                                                    <span class="ml-1">-{{ product.discount_percentage }}%</span>
                                                </h5>
                                                <div class="mb-2 mt-3"><span
                                                        class="fa fa-star text-warning"></span><span
                                                        class="fa fa-star text-warning"></span><span
                                                        class="fa fa-star text-warning"></span><span
                                                        class="fa fa-star text-warning"></span><span
                                                        class="fa fa-star text-300"></span><span
                                                        class="ml-1">(8)</span>
                                                </div>
                                                <div class="d-none d-lg-block">
                                                    <p class="fs--1 mb-1">Shipping Cost:
                                                        <strong>
                                                            {{ product.shipping_cost|intspace }} UZS
                                                        </strong>
                                                    </p>
                                                    <p class="fs--1 mb-1">Stock:
                                                        {% if product.available_quantity %}
                                                            <strong class="text-success">Available</strong>
                                                        {% else %}
                                                            <strong class="text-danger">Sold-Out</strong>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="mt-md-2"><a
                                                    class="btn btn-sm btn-outline-secondary border-300 d-lg-block mt-2 mr-2 mr-lg-0"
                                                    href="#!"><span class="far fa-heart"></span><span
                                                    class="ml-2 d-none d-md-inline-block">Favourite</span></a><a
                                                    class="btn btn-sm btn-primary d-lg-block mt-2"
                                                    href="#!"><span
                                                    class="fas fa-cart-plus"> </span><span
                                                    class="ml-2 d-none d-md-inline-block">Add to Cart</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="card-footer border-top d-flex justify-content-center">
            <div>
                {% if page_obj.has_previous %}
                    <a class="btn btn-falcon-default btn-sm mr-1 mr-sm-2" type="button"
                       data-toggle="tooltip"
                       href="{% url 'product_list_page' %}?page={{ page_obj.previous_page_number }}"
                       title="Prev">
                        <span class="fas fa-chevron-left"></span>
                    </a>
                    <a class="btn btn-sm btn-falcon-default mr-2"
                       href="{% url 'product_list_page' %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}

                <a class="btn btn-sm btn-falcon-default text-primary mr-2" href="#!"
                   disabled>{{ page_obj.number }}</a>

                {% if page_obj.has_next %}
                    <a class="btn btn-sm btn-falcon-default mr-2"
                       href="{% url 'product_list_page' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>

                    <a class="btn btn-falcon-default btn-sm" type="button" data-toggle="tooltip"
                       href="{% url 'product_list_page' %}?page={{ page_obj.next_page_number }}" title="Next">
                        <span class="fas fa-chevron-right"></span>
                    </a>
                {% endif %}

            </div>
        </div>

    </div>
{% endblock %}
